.navigation-custom {
    border-radius: 0px;
}
.navbar-center {
    margin-left: 200px;
}
.distance-separator {
    height: 20px;
}
.login-div {
    margin: auto;
    padding-top: 100px;
    width: 300px;
}
.login-user {
    font-size: 90px;
    text-align: center;
}