.navigation-custom {
    border-radius: 0px;
}
.navbar-center {
    margin-left: 200px;
}
.distance-separator {
    height: 20px;
}
.login-div {
    margin: auto;
    padding-top: 100px;
    width: 300px;
}
.login-user {
    font-size: 90px;
    text-align: center;
}
.signup-div {
    margin: auto;
    width: 300px;
}
.download-page {
    padding-top: 150px;
    margin: auto;
    width: 500px;
}
.flash-message {
    width: 97%;
    margin: auto;
}