.navigation-custom {
    border-radius: 0px;
}
.navbar-center {
    margin-left: 200px;
}
.distance-separator {
    height: 20px;
}
.login-div {
    margin: auto;
    padding-top: 100px;
    width: 300px;
}
.login-user {
    font-size: 90px;
    text-align: center;
}
.signup-div {
    margin: auto;
    width: 300px;
}
.download-page {
    padding-top: 150px;
    margin: auto;
    width: 500px;
}
.flash-message {
    width: 97%;
    margin: auto;
}
.download-list {
    width: 50%;
    margin: auto;
}
.status-td {
    width: 100px;
}
.download-button {
    width: 100px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.sticky-note {
    position: relative;
    left: -25px;
    bottom: -25px;
    width: 250px;
    height: 70px;
    background-color: #31b0d5;
    border-radius: 20px;
    font-family: "Comic Sans MS";
    font-size: 20px;
    color: #ffffff;
}
.sticky-note > span {
    padding-top: 15px;
    padding-left: 30px;
}